.first-form {
  @include center();
  position: absolute;
  top: 2010px;
  @media (min-width: 1450px) {
    top: 2200px;
  }
  @media (max-width: 767px) {
    top: 4710px;
  }
  @media (max-width: 600px) {
    top: 4010px;
  }
  @media (max-width: 485px) {
    top: 3480px;
  }
  @media (max-width: 350px) {
    top: 2800px;
  }
}
.second-form {
  @include center();
  position: absolute;
  top: 1800px;
  @media (max-width: 767px) {
    top: 2150px;
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (max-width: 575px) {
    top: 2600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 450px) {
    top: 2100px;
  }
  @media (max-width: 350px) {
    top: 2000px;
  }
  form {
    h3 {
      @media (max-width: 450px) {
        margin-bottom: 30px;
        font-size: 24px;
      }
    }
  }
}
.third-form {
  @include center();
  position: absolute;
  top: 534px;
}
//*** FORM ***//
form {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 627px;
  text-align: center;
  h3 {
    margin-bottom: 55px;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #2f4858;
    @media (max-width: 425px) {
      font-size: 24px;
    }
  }
  .form-group {
    input {
      @include input-style();
      height: 43px;
      @media (max-width: 425px) {
        font-size: 14px;
      }
    }
    select {
      @include input-style();
    }
  }
  textarea {
    @include input-style();
    height: 232px;
    resize: none;
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  .form-comm {
    @include text();
    float: left;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 17px;
    @media (max-width: 620px) {
      margin-left: 10px;
    }
    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .form-check {
    margin-top: 25px;
    float: left;
    @media (max-width: 620px) {
      margin-left: 10px;
    }
    input[type="checkbox"] {
      cursor: pointer;
    }
    input[type="checkbox"]:before {
      position: absolute;
      width: 16px;
      height: 16px;
      display: block;
      content: "";
      background: #e7e7e7;
      border-radius: 3px;
    }
    input[type="checkbox"]:checked:after {
      position: absolute;
      top: 2px;
      left: 6px;
      width: 4px;
      height: 9px;
      display: block;
      content: "";
      border: solid #2f4858;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .form-check-label {
      @include text();
      margin-left: 21px;
      font-family: "Montserrat";
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      @media (max-width: 425px) {
        font-size: 12px;
      }
    }
  }
}
.submit-btn {
  margin-top: 50px;
  width: 181px;
  height: 62px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  background: #ffa800;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: #ffaa00a8;
    transition: 0.8s;
  }
}
@media (min-width: 1450px) {
  form {
    top: 2200px;
  }
}
@media (max-width: 770px) {
  form {
    top: 4700px;
  }
}
@media (max-width: 600px) {
  form {
    top: 4000px;
  }
}
@media (max-width: 520px) {
  form {
    top: 3850px;
  }
}
@media (max-width: 485px) {
  form {
    top: 3500px;
  }
}
@media (max-width: 350px) {
  form {
    top: 2750px;
  }
}
