//*** HEADER ***//
.nav {
  height: 92.51px;
  background: #ffffff;
}
.nav-bar {
  margin: 0 auto;
  width: 100%;
}
.logo {
  position: absolute;
  max-width: 159px;
  height: auto;
  left: 4.5%;
  z-index: 2;
}
.nav-text {
  display: block;
  margin-right: 32px;
  margin-left: 200px;
  padding-top: 51px;
  text-align: right;
  transition: 0.1s;
  .lv {
    margin-left: 25px;
  }
  a {
    margin-right: 25px;
    line-height: 22px;
    color: #060606;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    &:hover {
      transition: 0.5s;
      text-decoration: underline;
      text-decoration-color: #ffa800;
      text-decoration-thickness: 3px;
      color: #060606;
    }
  }
}
.nav-vector {
  left: -0.07%;
  right: 0%;
  padding-top: 7px;
  width: 100%;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.103));
}
.icon {
  color: black;
  display: none;
  position: absolute;
  font-size: 30px;
  right: 3%;
  top: 27%;
  z-index: 1;
  &:hover {
    color: #ffa800;
    transition: 0.5s;
  }
}
@media (max-width: 1220px) {
  .icon {
    display: block;
  }
  .nav-vector {
    margin-top: 80px;
    width: 100%;
  }
  .logo {
    top: 0;
    margin-left: 0;
    max-width: 140px;
  }
  .nav-text {
    transition: 0.5s;
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    left: -200px;
    padding-left: 19%;
    padding-right: 39%;
    background: #ffffff;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    color: #e6e6e6;
    z-index: 1;
  }
  .nav-text a {
    margin-bottom: 60px;
    margin-right: -200px;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-style: none;
  }
}
@media (max-width: 550px) {
  .nav-text {
    padding-left: 5%;
  }
}
@media (max-width: 415px) {
  .nav-text a {
    margin-left: -50px;
  }
  .lv {
    padding-right: 70px;
  }
}
@media (max-width: 380px) {
  .nav-text a {
    margin-left: -70px;
  }
  .lv {
    padding-right: 90px;
  }
}
