//*** HEADER ***//
.nav {
  top: 0;
  height: 92.51px;
  background: #ffffff;
}
.nav-bar {
  margin: 0 auto;
  width: 100%;
}
.logo {
  position: absolute;
  left: 4.5%;
  z-index: 2;
  max-width: 159px;
  height: auto;
}
.nav-text {
  margin-right: 32px;
  margin-left: 200px;
  padding-top: 51px;
  display: block;
  text-align: right;
  transition: 0.1s;
  .lv {
    margin-left: 25px;
  }
  a {
    margin-right: 25px;
    color: #060606;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    &:hover {
      color: #060606;
      text-decoration: underline;
      text-decoration-color: #ffa800;
      text-decoration-thickness: 3px;
      transition: 0.5s;
    }
  }
  .active {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #ffa800;
    text-decoration-thickness: 3px;
  }
}
.nav-vector {
  position: absolute;
  left: -0.07%;
  right: 0%;
  z-index: 1;
  margin-top: 90px;
  width: 100%;
  filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.103));
}
.icon {
  position: absolute;
  right: 5%;
  top: 35px;
  z-index: 1;
  display: none;
  color: black;
  font-size: 30px;
  &:hover {
    color: #ffa800;
    transition: 0.5s;
  }
}
.closebtn {
  position: absolute;
  top: -35px;
}
@media (max-width: 1220px) {
  .icon {
    display: block;
  }

  .nav-text {
    display: block;
  }
  .nav-vector {
    z-index: 99;
    margin-top: 90px;
    width: 100%;
  }
  .logo {
    top: 0;
    margin-left: 0;
    max-width: 140px;
  }
  .nav-text {
    position: relative;
    top: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .nav-bar a {
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999999;
    height: 0;
    width: 100vw;
    background-color: #ffffff;
    overflow-y: scroll;
    transition: 1s;
  }
  .closebtn {
    position: absolute;
    top: 35px;
    right: 5%;
    z-index: 1;
    font-size: 30px;
    &:hover {
      color: #ffa800;
      transition: 0.5s;
    }
  }
}
@media (max-width: 450px) {
  .nav-bar a {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
  }
}
