@import "functions";
@import "nav";
@import "form";
@import "sponsors";
@import "footer";
@import "ideja";
@import "piesaki-sapni";
@import "uznemejiem";
@import "banka";
@import "atbalsta";
@import "stasti";
html {
  overflow-x: hidden;
}
body {
  position: relative;
  margin: 0px;
  padding: 0px;

  min-width: 100%;
  min-height: 100%;
  background: #e5e5e5;
  overflow-x: hidden;
  overflow-y: hidden;
}
//*** VIDEO ***//
.video {
  img {
    position: absolute;
    z-index: -1;
    margin-top: -47px;
    width: 100%;
    height: auto;
  }
  .video-btn {
    margin-top: 20%;
    margin-left: 47%;
    width: 86px;
  }
}
@media (min-width: 1600px) {
  .video-btn {
    top: 120%;
  }
}
@media (max-width: 600px) {
  .video-btn {
    left: -5%;
    top: 70%;
    max-width: 76px;
  }
}
@media (max-width: 480px) {
  .video-btn {
    left: -5%;
    top: 60%;
    max-width: 66px;
  }
}
@media (max-width: 330px) {
  .video-btn {
    left: -5%;
    top: 60%;
    max-width: 56px;
  }
}
//*** INTRODUCTION TEXT ***//
.about {
  @include text();
  position: absolute;
  top: 919px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 657px;
  height: auto;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all 0.5s;
  @media (min-width: 1450px) {
    top: 1100px;
  }
  @media (max-width: 830px) {
    top: 750px;
  }
  @media (max-width: 700px) {
    padding: 30px;
  }
  @media (max-width: 600px) {
    top: 450px;
  }
  @media (max-width: 510px) {
    top: 390px;
  }
  @media (max-width: 480px) {
    top: 380px;
  }
  @media (max-width: 370px) {
    top: 300px;
  }
}

//*** PHOTO LINE ***//
.img-line {
  .row {
    position: absolute;
    top: 1202px;
    margin-right: 97%;
    min-width: 100%;
    @media (min-width: 1450px) {
      top: 1300px;
    }
    @media (max-width: 600px) {
      top: 700px;
    }
    img {
      width: 119%;
      height: auto;
      @media (max-width: 770px) {
        max-height: 770px;
        max-width: 760px;
      }
    }
    .vector {
      position: absolute;
      z-index: 1;
      width: 120%;
      background-color: transparent;
    }
    .first {
      margin-top: -1.5%;
    }
    .second {
      margin-top: 25%;
      @media (min-width: 1450px) {
        top: 5%;
      }
      @media (max-width: 770px) {
        top: 93.8%;
      }
      @media (max-width: 690px) {
        top: 93.8%;
      }
      @media (max-width: 667px) {
        top: 94%;
      }
      @media (max-width: 632px) {
        top: 94.2%;
      }
    }
    .img-3 {
      width: 89%;
      @media (max-width: 690px) {
        width: 100%;
      }
    }
    .img-4 {
      width: 116%;
      margin-left: -25px;
    }
  }
}

//*** QUESTIONS AND BUTTONS ***//
.questions {
  position: absolute;
  top: 1731px;
  width: 97%;
  @media (min-width: 1450px) {
    top: 2000px;
  }
  @media (max-width: 767px) {
    top: 4450px;
  }
  @media (max-width: 600px) {
    top: 3750px;
  }
  @media (max-width: 550px) {
    top: 3670px;
  }
  @media (max-width: 520px) {
    top: 3550px;
  }
  @media (max-width: 517px) {
    top: 3500px;
  }
  @media (max-width: 500px) {
    top: 3450px;
  }
  @media (max-width: 485px) {
    top: 3200px;
  }
  @media (max-width: 463px) {
    top: 3100px;
  }
  @media (max-width: 425px) {
    top: 3000px;
  }
  @media (max-width: 380px) {
    top: 2900px;
  }
  @media (max-width: 350px) {
    top: 2450px;
  }
  @media (max-width: 330px) {
    top: 2350px;
  }
  .row {
    .col {
      text-align: center;
      font-weight: 500;
      align-items: center;
    }
    h1 {
      font-family: "Oswald";
      font-size: 24px;
      line-height: 36px;
      color: #2f4858;
      @media (max-width: 475px) {
        padding: 3px;
      }
    }
    button {
      @include buttons();
    }
  }
}

@media (max-width: 841px) {
  .dream-btn {
    margin-top: 35px;
  }
}
@media (max-width: 618px) {
  .dream-btn {
    margin-top: 0;
  }
}
@media (max-width: 494px) {
  .dream-btn {
    margin-top: 35px;
  }
}
@media (max-width: 463px) {
  .dream-btn {
    margin-top: 0;
    margin-bottom: 35px;
  }
}
//*** SCROLL BUTTON ***//
.social-float-parent {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: right;
}
#social-float {
  position: fixed;
  bottom: 10px;
  z-index: 999;
  display: none;
  float: right;
  width: 96%;
  color: #2f4858c0;
  font-size: 40px;
  cursor: pointer;
}
