.nav {
  height: 92.51px;
  background: #ffffff;
}

.nav-bar {
  margin: 0 auto;
  width: 100%;
}

.logo {
  position: absolute;
  max-width: 159px;
  height: auto;
  left: 4.5%;
  z-index: 2;
}

.nav-text {
  display: block;
  margin-right: 32px;
  margin-left: 200px;
  padding-top: 51px;
  text-align: right;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav-text .lv {
  margin-left: 25px;
}

.nav-text a {
  margin-right: 25px;
  line-height: 22px;
  color: #060606;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}

.nav-text a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffa800;
          text-decoration-color: #ffa800;
  text-decoration-thickness: 3px;
  color: #060606;
}

.nav-vector {
  left: -0.07%;
  right: 0%;
  padding-top: 7px;
  width: 100%;
  position: absolute;
  z-index: 1;
  -webkit-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.103));
          filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.103));
}

.icon {
  color: black;
  display: none;
  position: absolute;
  font-size: 30px;
  right: 3%;
  top: 27%;
  z-index: 1;
}

.icon:hover {
  color: #ffa800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1220px) {
  .icon {
    display: block;
  }
  .nav-vector {
    margin-top: 80px;
    width: 100%;
  }
  .logo {
    top: 0;
    margin-left: 0;
    max-width: 140px;
  }
  .nav-text {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    left: -200px;
    padding-left: 19%;
    padding-right: 39%;
    background: #ffffff;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 13px;
    color: #e6e6e6;
    z-index: 1;
  }
  .nav-text a {
    margin-bottom: 60px;
    margin-right: -200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-style: none;
  }
}

@media (max-width: 550px) {
  .nav-text {
    padding-left: 5%;
  }
}

@media (max-width: 415px) {
  .nav-text a {
    margin-left: -50px;
  }
  .lv {
    padding-right: 70px;
  }
}

@media (max-width: 380px) {
  .nav-text a {
    margin-left: -70px;
  }
  .lv {
    padding-right: 90px;
  }
}

form {
  position: absolute;
  top: 2010px;
  max-width: 627px;
  padding: 3px;
  text-align: center;
}

form h3 {
  margin-bottom: 55px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #2f4858;
}

form .form-group input {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.015em;
  color: #2f4858;
  height: 43px;
}

@media (max-width: 355px) {
  form .form-group input {
    font-size: 13px;
  }
}

form textarea {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.015em;
  color: #2f4858;
  height: 232px;
  resize: none;
}

@media (max-width: 355px) {
  form textarea {
    font-size: 13px;
  }
}

form .form-comm {
  font-style: normal;
  font-weight: normal;
  color: #2f4858;
  float: left;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 620px) {
  form .form-comm {
    margin-left: 10px;
  }
}

form .form-check {
  position: absolute;
  margin-top: 25px;
  float: left;
}

@media (max-width: 620px) {
  form .form-check {
    margin-left: 10px;
  }
}

form .form-check input[type="checkbox"] {
  cursor: pointer;
}

form .form-check input[type="checkbox"]:before {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
  background: #e7e7e7;
  border-radius: 3px;
}

form .form-check input[type="checkbox"]:checked:after {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 9px;
  display: block;
  content: "";
  border: solid #2f4858;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

form .form-check .form-check-label {
  margin-left: 21px;
  font-style: normal;
  font-weight: normal;
  color: #2f4858;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  text-align: left;
}

.submit-btn {
  margin-top: 50px;
  width: 181px;
  height: 62px;
  background: #ffcb66;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
}

.submit-btn:hover {
  background: #ffcc66b7;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 1450px) {
  form {
    top: 2200px;
  }
}

@media (max-width: 770px) {
  form {
    top: 4700px;
  }
}

@media (max-width: 600px) {
  form {
    top: 4000px;
  }
}

@media (max-width: 520px) {
  form {
    top: 3850px;
  }
}

@media (max-width: 485px) {
  form {
    top: 3500px;
  }
}

@media (max-width: 350px) {
  form {
    top: 2750px;
  }
}

.sponsors {
  position: absolute;
  top: 2827px;
  width: 100%;
  height: 550px;
  background: #ffcb66;
}

.sponsors .sponsor-vector {
  width: 100%;
  height: auto;
}

.sponsors h1 {
  margin-top: 10px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2f4858;
}

.sponsors .sponsor-logo {
  position: absolute;
  margin-top: 70px;
  left: 0;
  right: 0;
}

.sponsors .sponsor-logo img {
  width: 100%;
}

.sponsors .row {
  width: 87%;
  margin-left: 11%;
}

.sponsors .logo-linearis {
  margin-top: -19px;
  max-width: 84.77px;
}

@media (min-width: 1450px) {
  .sponsors {
    top: 3000px;
  }
  .logo-linearis {
    padding-top: 30px;
    margin-left: 5%;
  }
}

@media (max-width: 950px) {
  .logo-linearis {
    padding-top: 10px;
    max-width: 60px !important;
  }
}

@media (max-width: 767px) {
  .sponsors {
    top: 5500px;
    height: 730px;
  }
  .sponsors .col-md-3 {
    max-width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -4%;
    padding: 35px;
  }
  .sponsor-logo {
    top: 50px;
  }
  .logo-linearis {
    margin-left: 37%;
    padding-top: 25px;
  }
}

@media (max-width: 600px) {
  .sponsors {
    top: 4800px;
  }
}

@media (max-width: 485px) {
  .sponsors {
    top: 4250px;
  }
  .logo-linearis {
    margin-left: 30%;
  }
}

@media (max-width: 440px) {
  .logo-linearis {
    max-width: 40px !important;
  }
}

@media (max-width: 350px) {
  .sponsors {
    top: 3550px;
  }
  .sponsors .col-md-3 {
    margin-bottom: -10%;
  }
}

footer {
  position: absolute;
  top: 3250px;
  width: 100%;
  min-height: 310px;
  left: 0;
  right: 0;
  background: #2f4858;
  color: #ffffff;
  border: none;
}

footer .footer-vector {
  width: 100%;
  height: auto;
  top: 51.66px;
  background: #ffcb66;
}

footer ul {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  list-style-type: none;
}

footer ul li a {
  color: #ffffff;
}

footer ul li a:hover {
  color: #ffffff96;
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

footer .first-col {
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .first-col .golden-logo {
  max-width: 182px;
  min-width: 40px;
  height: auto;
}

@media (max-width: 1140px) {
  footer .first-col .golden-logo {
    margin-left: -30px;
    max-width: 130px;
  }
}

@media (max-width: 770px) {
  footer .first-col .golden-logo {
    width: 100px;
  }
}

@media (max-width: 490px) {
  footer .first-col .golden-logo {
    width: 80px;
    margin-top: 230px;
  }
}

@media (max-width: 390px) {
  footer .first-col .golden-logo {
    margin-top: 200px;
    margin-bottom: 80px;
  }
}

@media (max-width: 350px) {
  footer .first-col .golden-logo {
    width: 60px;
  }
}

footer .first-col p {
  margin-top: 90px;
  font-size: 14px;
  text-align: left;
}

@media (max-width: 1140px) {
  footer .first-col p {
    margin-left: -30px;
    margin-top: 160px;
  }
}

@media (max-width: 680px) {
  footer .first-col p {
    margin-top: 80px;
    font-size: 11px;
    margin-left: -40px;
    margin-right: -30px;
  }
}

footer .second-col li {
  margin-bottom: 21px;
}

@media (max-width: 1140px) {
  footer .second-col li {
    margin-left: -50px;
  }
}

@media (max-width: 960px) {
  footer .second-col li {
    margin-left: -90px;
  }
}

@media (max-width: 800px) {
  footer .second-col li {
    margin-left: -70px;
  }
}

@media (max-width: 680px) {
  footer .second-col {
    margin-left: -40%;
  }
}

@media (max-width: 490px) {
  footer .second-col {
    margin-left: -200%;
    margin-top: 20px;
  }
  footer .second-col li {
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  footer .second-col {
    margin-left: -230%;
  }
}

footer .third-col {
  margin-left: -40px;
  margin-right: 80%;
}

@media (max-width: 1140px) {
  footer .third-col {
    margin-left: -100px;
  }
}

footer .third-col h3 {
  font-size: 24px;
  margin-bottom: 22px;
}

footer .third-col li {
  margin-bottom: 10px;
  margin-right: -120%;
}

@media (max-width: 800px) {
  footer .third-col li {
    padding-left: 20px;
  }
}

@media (max-width: 950px) {
  footer .third-col li {
    margin-left: -50px;
  }
}

@media (max-width: 680px) {
  footer .third-col {
    margin-left: 270%;
    margin-top: -250px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  footer .third-col {
    margin-left: 200%;
    margin-top: -430px;
  }
}

@media (max-width: 390px) {
  footer .third-col {
    margin-left: 210%;
    margin-top: -470px;
  }
}

@media (max-width: 350px) {
  footer .third-col {
    margin-left: 260%;
  }
}

footer .fourth-col {
  text-align: right;
  margin-right: 68px;
  margin-left: -60px;
}

@media (max-width: 1180px) {
  footer .fourth-col {
    margin-right: 40px;
  }
}

@media (max-width: 710px) {
  footer .fourth-col {
    margin-right: 15px;
  }
}

footer .fourth-col h3 {
  margin-bottom: 22px;
  font-size: 24px;
}

footer .fourth-col li {
  margin-bottom: 11px;
  font-size: 14px;
}

footer .fourth-col .soc-logo {
  margin-top: 52px;
  margin-bottom: 51px;
}

footer .fourth-col .soc-logo img {
  margin-left: 29px;
  margin-bottom: 10px;
}

footer .fourth-col .policy {
  font-size: 14px;
}

@media (max-width: 680px) {
  footer .fourth-col {
    margin-right: -100%;
    margin-left: 45%;
    text-align: left;
  }
  footer .fourth-col .soc-logo {
    margin-left: -190px;
  }
  footer .fourth-col .soc-logo img {
    margin-top: -170px;
    width: 25px;
  }
  footer .fourth-col .soc-logo .fb-logo {
    height: 30px;
    width: auto;
  }
  footer .fourth-col .policy p {
    font-size: 11px;
    margin-left: -200%;
    margin-top: -145px;
  }
}

@media (max-width: 570px) {
  footer .fourth-col .soc-logo {
    margin-left: 60px;
  }
  footer .fourth-col .soc-logo img {
    margin-top: -180px;
    margin-bottom: 50px;
  }
  footer .fourth-col .soc-logo .fb-logo {
    margin-bottom: 120px;
  }
  footer .fourth-col .fourth-txt {
    margin-left: -100%;
  }
  footer .fourth-col .policy p {
    margin-left: -210%;
    margin-top: -155px;
  }
}

@media (max-width: 490px) {
  footer .fourth-col {
    margin-top: -250px;
  }
  footer .fourth-col .soc-logo {
    margin-top: 150px;
    margin-left: 0;
  }
  footer .fourth-col .soc-logo img {
    margin-top: -180px;
    margin-bottom: 50px;
  }
  footer .fourth-col .soc-logo .fb-logo {
    margin-left: -10px;
    margin-top: -110px;
  }
  footer .fourth-col .fourth-txt {
    margin-left: -75%;
  }
  footer .fourth-col .policy p {
    margin-left: -20px;
    margin-top: -140px;
  }
}

@media (max-width: 390px) {
  footer .fourth-col {
    margin-top: -270px;
  }
  footer .fourth-col .fourth-txt {
    margin-left: -110%;
  }
}

@media (max-width: 350px) {
  footer .fourth-col {
    margin-top: -270px;
  }
  footer .fourth-col .fourth-txt {
    margin-left: -160%;
  }
  footer .fourth-col .soc-logo {
    margin-top: 125px;
  }
  footer .fourth-col .policy p {
    margin-left: -40px;
    margin-top: -140px;
  }
}

footer .row {
  margin-left: 62px;
}

@media (min-width: 1450px) {
  footer {
    top: 3500px;
  }
}

@media (max-width: 767px) {
  footer {
    top: 6230px;
  }
}

@media (max-width: 680px) {
  footer {
    height: 490px;
  }
}

@media (max-width: 600px) {
  footer {
    top: 5400px;
  }
}

@media (max-width: 490px) {
  footer {
    height: 570px;
  }
}

@media (max-width: 485px) {
  footer {
    top: 4840px;
  }
}

@media (max-width: 350px) {
  footer {
    top: 4050px;
  }
}

@media (max-width: 870px) {
  .first-col {
    margin-left: -15%;
  }
  #footer li {
    font-size: 12px;
  }
  #footer h3 {
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  footer .col-3 {
    margin-left: 5%;
    margin-right: 13%;
  }
}

@media (max-width: 530px) {
  .footer-vector {
    margin-top: -30px;
  }
}

body {
  position: relative;
  margin: 0px;
  width: 100%;
  min-height: 100%;
  padding: 0px;
  padding-bottom: 20px;
  background: #e5e5e5;
  overflow-x: hidden;
}

.video img {
  position: absolute;
  margin-top: -47px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.video .video-btn {
  width: 86px;
  margin-top: 20%;
  margin-left: 50%;
}

@media (max-width: 600px) {
  .video-btn {
    max-width: 76px;
    left: -5%;
    top: 70%;
  }
}

@media (max-width: 480px) {
  .video-btn {
    max-width: 66px;
    left: -5%;
    top: 60%;
  }
}

@media (max-width: 330px) {
  .video-btn {
    max-width: 56px;
    left: -5%;
    top: 60%;
  }
}

.about {
  font-style: normal;
  font-weight: normal;
  color: #2f4858;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 657px;
  height: auto;
  top: 919px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 1450px) {
  .about {
    top: 1100px;
  }
}

@media (max-width: 830px) {
  .about {
    top: 750px;
  }
}

@media (max-width: 700px) {
  .about {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .about {
    top: 450px;
  }
}

@media (max-width: 510px) {
  .about {
    top: 390px;
  }
}

@media (max-width: 480px) {
  .about {
    top: 380px;
  }
}

@media (max-width: 370px) {
  .about {
    top: 300px;
  }
}

.img-line .row {
  position: absolute;
  min-width: 100%;
  top: 1202px;
  margin-right: 97%;
}

@media (min-width: 1450px) {
  .img-line .row {
    top: 1300px;
  }
}

@media (max-width: 600px) {
  .img-line .row {
    top: 700px;
  }
}

.img-line .row img {
  width: 119%;
  height: auto;
}

@media (max-width: 770px) {
  .img-line .row img {
    max-height: 770px;
    max-width: 760px;
  }
}

.img-line .row .vector {
  position: absolute;
  width: 120%;
  z-index: 1;
  background-color: transparent;
}

.img-line .row .first {
  margin-top: -1.5%;
}

.img-line .row .second {
  margin-top: 25%;
}

@media (min-width: 1450px) {
  .img-line .row .second {
    top: 5%;
  }
}

@media (max-width: 770px) {
  .img-line .row .second {
    top: 93.8%;
  }
}

@media (max-width: 690px) {
  .img-line .row .second {
    top: 93.8%;
  }
}

@media (max-width: 667px) {
  .img-line .row .second {
    top: 94%;
  }
}

@media (max-width: 632px) {
  .img-line .row .second {
    top: 94.2%;
  }
}

.img-line .row .img-3 {
  width: 89%;
}

@media (max-width: 690px) {
  .img-line .row .img-3 {
    width: 100%;
  }
}

.img-line .row .img-4 {
  width: 116%;
  margin-left: -25px;
}

.questions {
  position: absolute;
  width: 97%;
  top: 1731px;
}

@media (min-width: 1450px) {
  .questions {
    top: 2000px;
  }
}

@media (max-width: 767px) {
  .questions {
    top: 4450px;
  }
}

@media (max-width: 600px) {
  .questions {
    top: 3750px;
  }
}

@media (max-width: 550px) {
  .questions {
    top: 3670px;
  }
}

@media (max-width: 520px) {
  .questions {
    top: 3550px;
  }
}

@media (max-width: 517px) {
  .questions {
    top: 3500px;
  }
}

@media (max-width: 500px) {
  .questions {
    top: 3450px;
  }
}

@media (max-width: 485px) {
  .questions {
    top: 3200px;
  }
}

@media (max-width: 463px) {
  .questions {
    top: 3100px;
  }
}

@media (max-width: 425px) {
  .questions {
    top: 3000px;
  }
}

@media (max-width: 380px) {
  .questions {
    top: 2900px;
  }
}

@media (max-width: 350px) {
  .questions {
    top: 2450px;
  }
}

@media (max-width: 330px) {
  .questions {
    top: 2350px;
  }
}

.questions .row .col {
  text-align: center;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .row h1 {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 36px;
  color: #2f4858;
}

@media (max-width: 475px) {
  .questions .row h1 {
    padding: 3px;
  }
}

.questions .row button {
  width: 209.8px;
  height: 50px;
  top: 1810px;
  color: #ffffff;
  background: #ffcb66;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 25.17px;
  cursor: pointer;
}

.questions .row button:hover {
  background: #ffcc66af;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-bottom: 3px solid #ffa800;
}

@media (max-width: 841px) {
  .dream-btn {
    margin-top: 35px;
  }
}

@media (max-width: 618px) {
  .dream-btn {
    margin-top: 0;
  }
}

@media (max-width: 494px) {
  .dream-btn {
    margin-top: 35px;
  }
}

@media (max-width: 463px) {
  .dream-btn {
    margin-top: 0;
    margin-bottom: 35px;
  }
}

#scroll {
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  z-index: 99;
  display: none;
  font-size: 20px;
  border: none;
  background-color: #c4c4c4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */